main{
    width:50%;
    margin:50px auto;
    text-align: center;;
    object-position: 50% 50%;
}
table{
    margin:50px auto;

}
table ,th,td{
    border:collapse;
    border:1px solid black;
}
th,td{
    padding:5px;
}