body{
    margin:0;
    font-size: bold;
    color:#F7F1E5;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#4C4B16;
    background-color:#898121;
    padding: 10px;
}
.home{
    background-color:#E7B10A;
    align-self: flex-start;
}
.search{
    align-self: center;
}
.itempanel{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 10px;
}